{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if card.image %}
        <div class="col-md-auto"><img src="{{ card.image.url }}"
        class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ card.title }}</h2>
            <p>{{ card.description }}</p>
        </div>
    </div>
    <p>There are {{ comments|length}} comments</p>
    {% if comments %}
    <h2>Comments</h2>
    {% for comment in comments %}
    <div>
        <h4>{{ comment.user }}</h4>
        {{ comment.text }} {{ comment.date }}

    </div>
    {% endfor %}
    {% else %}
    <h2>No comments yet, be first...</h2>
    {% endif %}
</div>

<form action="{% url 'web:comment' card.pk %}" method="post">
{% csrf_token %}
    <label for="comment">Add comment: </label>
    <input id="comment" type="text" name="comment" value="{{ form.comment }}" >
    <input type="submit" value="Send">
</form>
{% endblock %}